* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ececec;
  color: #252e35;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252e35;
  color: #ececec;
  padding: 1rem;
}

header img {
  width: 50px;
  height: 50px;
}

header h1 {
  font-size: 1.5rem;
}

header .hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: goldenrod;
}

nav ul {
  list-style: none;
  display: none;
  flex-direction: column;
}

nav ul.show {
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #ececec;
  text-decoration: none;
}

main {
  padding: 1rem;
  gap: 1rem;
  border: 1px solid #252e35;
  padding: 1rem;
  background-color: #ececec;
}

.gallery {
  border: 1px solid #252e35;
  padding: 1rem;
  background-color: #ececec;
  gap: 1rem;
}

.gallery figure {
  position: relative;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery figure:hover img {
  transform: scale(1.1);
}

.sidebar {
  border: 1px solid #252e35;
  padding: 1rem;
  background-color: #ececec;
  gap: 1rem;
}

footer {
  background-color: #252e35;
  color: #ececec;
  text-align: center;
  padding: 1rem;
}

/* Styles for member directory */
#members-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#members-container.grid-view .member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
  margin: 10px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

#members-container.grid-view .member-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#members-container.list-view {
  display: block;
}

#members-container.list-view .member-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 10px;
}

#members-container.list-view .member-card img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  display: block;
}

#members-container.list-view .member-card div {
  flex: 1;
}

#toggle-veiw {
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    height: 50px;
    width: 100px;
}