/* Larger CSS */

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .hero, .cta {
    grid-column: span 3;
  }

  .grid-container {
    display: grid;
    place-items: center; /* Centering the content */
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  .weather {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center; /* Centering the weather section */
  }

  .spotlights {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center; /* Centering the spotlights section */
  }

  .gallery {
    grid-column: 2 / span 3; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .gallery figure {
    position: relative;
    overflow: hidden;
  }

  .gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }

  .gallery figure:hover img {
    transform: scale(1.1);
  }

  footer {
    background-color: #252e35;
    color: #ececec;
    text-align: center;
    padding: 1rem;
  }
}

